<div class="page-wrapper chiller-theme toggled">
	<a id="show-sidebar" class="btn btn-sm btn-dark">
		<i class="fa fa-bars"></i>
	</a>
	<nav id="sidebar" class="sidebar-wrapper">
		<div class="sidebar-content">
			<div class="sidebar-brand">
				<a>EMS Client</a>
			</div>
			<div class="sidebar-menu">
				<ul>
					<li class="header-menu">
						<span>Components</span>
					</li>
					<li>
						<a routerLink="/employee">
							<i class="fa fa-book"></i>
							<span>Employee</span>
							<!-- <span class="badge badge-pill badge-primary">Beta</span> -->
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>
