.page-content {
  padding-left: 175px;
  padding-top: 15px;
}

.action {
  text-align: center;
}

.action a:hover {
  cursor: pointer;
  color: blue;
}

tr:last-child {
  border-bottom: 1px solid #dee2e6;
}
